QFrame {
    background-color: #202020;
    margin-left: 3px;
    margin-right: 36px;
    margin-top: 3px;
    margin-bottom: 19px;
    padding: 0px;
}

QApplication { padding: 0px; }

Window > QFrame { margin: 0px; }
MainMenu > QFrame { margin: 0px; }
QStackedWidget > QFrame { margin: 0px; }

Div > QFrame {
    background-color: #2b2b2b;
    border-radius: 4px;
    border: 1px solid #1d1d1d;
    margin: 4px !important;
    padding: 19px;
    min-height: 47px;
}

QDialog {
    background-color: #202020;
    border: 0px solid #202020;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

QLabel {
    color: #e0e0e0;
}

QLabel#headline {
    font-weight: bold;
}

QPushButton {
    color: #e0e0e0;
    background-color: #373737;
    border: 4px sold #202020;
    border-radius: 4px;
    height: 32px;
}

QPushButton:hover { background-color: #3c3c3c; }

QPushButton#highlight { 
    background-color: #6fc4d5; 
    color: black; 
}

QPushButton#highlight:hover { background-color: #66b3c2; }

QListWidget {
    color: #e0e0e0;
    border: 1px solid black;
}

QListWidgetItem {
    margin: 5px;
    padding-left: 10px;
}

QListWidget::item {
    border: 2px solid #202020;
    border-radius: 4px;
    height: 36px;
    padding-left: 43px;
}

QListWidget::item::selected { background-color: #292929; }

QListWidget::item:hover { background-color: #2d2d2d; }

QComboBox {
    color: #e0e0e0;
}

QTableWidget {
    color: white;
}

QCheckBox {
    color: white;
}

QCheckBox::indicator {
    background-color: #1d1d1d;
    border: 1px solid #9a9a9a;
    border-radius: 4px;
}

QCheckBox::indicator:checked {
    background-color: #6fc4d5;
}

QCheckBox::indicator:checked:hover {
    background-color: #66b3c2;
}
